<h4>Checkout Information</h4>
<div class="shippingInfoContainer">
    <div><input type="email" placeholder="Email"></div>
    <div><input type="text" placeholder="First Name"></div>
    <div><input type="text" placeholder="Last Name"></div>
    <div><input type="text" placeholder="Address"></div>
    <div><input type="text" placeholder="City"></div>
    <div>
        <select>
            <option value="">state</option>
            <option value="Colorado">CO</option>
        </select>
    </div>
    <div><input type="number" placeholder="zip-code"></div>
    <button (click)="onSubmit()">Checkout</button>
</div>