<p>coupons works!</p>
<div class="container">
    
    <div class="content">
        <form>
        <label  for="uname"><b>Coupon Name</b></label>
        <input type="text"  name="CName" required>
        
    
        <label  for="uname"><b>Discount</b></label>
        <input  type="text"  name="Discount" required>
        <br>
   
        <label  for="uname"><b>Start Date</b></label>
        <input  type="Date"  name="Sdate" required>
   
        <label  for="uname"><b>End Date</b></label>
        <input  type="Date" name="EDate" required>
        <br>
        <div>
            <button style="background-color: green;margin: 10px;">Add</button>
            <button style="background-color: azure;margin: 10px;">Edit</button>
            <button style="background-color:red ;margin: 10px;">Delete</button>
        </div>         
    </form>
        
    </div>

  
      
</div>